<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .full-width {
    grid-column-start: 1;
    grid-column-end: 3;
  }
</style>

<div class="grid-container">
  <div>
    <!--Coach Conversion (This Month)-->
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 600px; height: 400px;'>
      <object class='tableauViz' width='600' height='400' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;southloopstrengthconditioning' />
        <param name='name' value='SLSCCRM&#47;CoachConversionThisMonth&#47;todd@southloopsc.com&#47;f3389e9d-cabf-448c-b72a-59e35fd00617' />
        <param name='tabs' value='yes' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='filter' value='iframeSizedToWindow=true' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
      </object>
    </div>
  </div>

  <div>
    <!--Coach Conversion (Last Month)-->
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 800px; height: 400;'>
      <object class='tableauViz' width='800' height='400' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;southloopstrengthconditioning' />
        <param name='name' value='SLSCCRM&#47;CoachConversionLastMonth&#47;todd@southloopsc.com&#47;503793b7-d144-468f-a183-4874a6b1ab9a' />
        <param name='tabs' value='yes' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='filter' value='iframeSizedToWindow=true' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
      </object>
    </div>
  </div>

  <div class="full-width">
    <!--Quarterly Coach Conversion (Total)-->
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 1280px; height: 1500px;'>
      <object class='tableauViz' width='1280' height='1500' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;southloopstrengthconditioning' />
        <param name='name' value='SLSCCRM&#47;CoachConversionQ&#47;todd@southloopsc.com&#47;eebf8b7f-03b1-4f8c-8f34-5fe37f346ae8' />
        <param name='tabs' value='yes' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='filter' value='iframeSizedToWindow=true' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
      </object>
    </div>
  </div>

  <div class="full-width">
    <!--Quarterly Coach Conversion (Exclude PT)-->
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 1280px; height: 1500px;'>
      <object class='tableauViz' width='1280' height='1500' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;southloopstrengthconditioning' />
        <param name='name' value='SLSCCRM&#47;CoachConversionQuarterly-ExcludePT&#47;todd@southloopsc.com&#47;7aac53fb-775b-463a-bc3a-cb85f3c03f34' />
        <param name='tabs' value='yes' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='filter' value='iframeSizedToWindow=true' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
      </object>
    </div>
</div>
