<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .full-width {
    grid-column-start: 1;
    grid-column-end: 5;
  }
</style>

<div class="grid-container">
  <div>
    <!--Members Lost (This Month)-->
   <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
   <div class='tableauPlaceholder' style='width: 350px; height: 735px;'>
   	<object class='tableauViz' width='350' height='735' style='display:none;'>
   		<param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> 
   		<param name='embed_code_version' value='3' /> 
   		<param name='site_root' value='&#47;t&#47;southloopstrengthconditioning' />
   		<param name='name' value='SLSCCRM&#47;MembersLostDetailThisMonth' />
   		<param name='tabs' value='yes' />
   		<param name='toolbar' value='yes' />
   		<param name='showAppBanner' value='false' />
   		<param name='filter' value='iframeSizedToWindow=true' />
   		<param name='tabs' value='no' />
   		<param name='toolbar' value='no' />
   	</object>
   </div>
  </div>

  <div>
    <!--Members Lost [Last Month]-->
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 350px; height: 735px;'>
    	<object class='tableauViz' width='350' height='735' style='display:none;'>
    		<param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> 
    		<param name='embed_code_version' value='3' /> 
    		<param name='site_root' value='&#47;t&#47;southloopstrengthconditioning' />
    		<param name='name' value='SLSCCRM&#47;MembersLostDetailLastMonth' />
    		<param name='tabs' value='yes' />
    		<param name='toolbar' value='yes' />
    		<param name='showAppBanner' value='false' />
    		<param name='filter' value='iframeSizedToWindow=true' />
    		<param name='tabs' value='no' />
    		<param name='toolbar' value='no' />
    	</object>
    </div>
  </div>

  <div>
    <!--Members Lost [2 Months Ago]-->
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 350px; height: 735px;'>
    	<object class='tableauViz' width='350' height='735' style='display:none;'>
    		<param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> 
    		<param name='embed_code_version' value='3' /> 
    		<param name='site_root' value='&#47;t&#47;southloopstrengthconditioning' />
    		<param name='name' value='SLSCCRM&#47;MembersLostDetail2MonthsAgo' />    		
    		<param name='tabs' value='yes' />
    		<param name='toolbar' value='yes' />
    		<param name='showAppBanner' value='false' />
    		<param name='filter' value='iframeSizedToWindow=true' />
    		<param name='tabs' value='no' />
    		<param name='toolbar' value='no' />
    	</object>
    </div>
  </div>

  <div>
    <!--Members On Hold-->
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 350px; height: 735px;'>
    	<object class='tableauViz' width='350' height='735' style='display:none;'>
    		<param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> 
    		<param name='embed_code_version' value='3' /> 
    		<param name='site_root' value='&#47;t&#47;southloopstrengthconditioning' />
    		<param name='name' value='SLSCCRM&#47;MembersOnHoldDetail&#47;todd@southloopsc.com&#47;a2243916-f4bf-42f9-8de7-fdaee3c49d23' />
    		<param name='tabs' value='yes' />
    		<param name='toolbar' value='yes' />
    		<param name='showAppBanner' value='false' />
    		<param name='filter' value='iframeSizedToWindow=true' />
    		<param name='tabs' value='no' />
    		<param name='toolbar' value='no' />
    	</object>
    </div>
  </div>
