<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .full-width {
    grid-column-start: 1;
    grid-column-end: 3;
  }
</style>

<div class="grid-container">
  <div class="full-width">
    <!--Total Monthly Conversion-->
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 1280px; height: 700;'>
      <object class='tableauViz' width='1280' height='700' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;southloopstrengthconditioning' />
        <param name='name' value='SLSCCRM&#47;TotalConversionM&#47;todd@southloopsc.com&#47;1855a760-3def-4d80-a041-41a9ac73d3c9' />
        <param name='tabs' value='yes' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='filter' value='iframeSizedToWindow=true' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
      </object>
    </div>
  </div>

  <div class="full-width">
    <!--Total Monthly Conversion (Exclude PT)-->
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 1200px; height: 800px;'>
      <object class='tableauViz' width='1200' height='800' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;southloopstrengthconditioning' />
        <param name='name' value='SLSCCRM&#47;TotalConversionM-ExcludePT&#47;todd@southloopsc.com&#47;77b900e1-55eb-4a94-ad8a-e90bcad58c2a' />
        <param name='tabs' value='yes' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='filter' value='iframeSizedToWindow=true' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
      </object>
    </div>
  </div>
</div>
