<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .full-width {
    grid-column-start: 1;
    grid-column-end: 3;
  }
</style>

<div class="grid-container">
  <div class="full-width">
    <!--Total Quarterly Conversion-->
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 1000px; height: 400px;'>
      <object class='tableauViz' width='1000' height='400' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;southloopstrengthconditioning' />
        <param name='name' value='SLSCCRM&#47;TotalConversionQ&#47;todd@southloopsc.com&#47;796b532d-924f-4272-83eb-211602694a82' />
        <param name='tabs' value='yes' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='filter' value='iframeSizedToWindow=true' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
      </object>
    </div>
  </div>

  <div class="full-width">
    <!--Total Quarterly Conversion (Exclude PT)-->
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 1000px; height: 635px;'>
      <object class='tableauViz' width='1000' height='400' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;southloopstrengthconditioning' />
        <param name='name' value='SLSCCRM&#47;TotalConversionQ-ExcludePT&#47;todd@southloopsc.com&#47;af04b7a2-518d-4ea3-963b-b64555525f9a' />
        <param name='tabs' value='yes' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='filter' value='iframeSizedToWindow=true' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
      </object>
    </div>
  </div>

  <div class="full-width">
    <!--Segmented Conversion Dash-->
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 1280px; height: 635px;'>
      <object class='tableauViz' width='1280' height='635' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='&#47;t&#47;southloopstrengthconditioning' />
        <param name='name' value='SLSCCRM&#47;DashConversionbyQ' />
        <param name='tabs' value='yes' />
        <param name='toolbar' value='yes' />
        <param name='showAppBanner' value='false' />
        <param name='filter' value='iframeSizedToWindow=true' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
      </object>
    </div>
  </div>
</div>
