  html,
  body {
      height: 100%;
      margin: 0;
  }

  /*Headings and Text*/

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin-bottom: 12px;
  }

  /*Buttons*/

  .btn-schedulebot {
      margin: 7px;
      border: 0 !important;
      background-color: #EFEFEF !important;
      color: black !important;
  }

  .btn-schedulebot:hover {
      background-color: #6F0E24 !important;
      color: white !important;
  }

  /*Height Classes (view height)*/

  .vh-40 {
    height: 40vh;
  }

  .vh-50 {
    height: 50vh;
  }

  .vh-65 {
    height: 65vh;
  }

  .vh-75 {
    height: 75vh;
  }

  .vh-85 {
    height: 85vh;
  }

  /*Height Classes (percentage)*/

  .h-20 {
      height: 20%;
  }

  .h-30 {
      height: 30%;
  }

  .h-40 {
      height: 40%;
  }

  .h-60 {
      height: 60%;
  }

  .h-70 {
    height: 70%;
  }

  /*Menu Bar*/
  #nav-placeholder {
      width: 100%;
      margin: 0;
  }

  /*Mobile Min Height*/
  @media (max-width: 900px) {
      .mobile-mh-450p {
          min-height: 450px;
      }
  }

  @media (max-width: 900px) {
      .mobile-mh-550p {
          min-height: 550px;
      }
  }

  @media (max-width: 900px) {
      .mobile-mh-650p {
          min-height: 650px;
      }
  }

  @media (max-width: 900px) {
      .mobile-mh-750p {
          min-height: 750px;
      }
  }

  @media (max-width: 900px) {
      .mobile-mh-850p {
          min-height: 850px;
      }
  }

  @media (max-width: 900px) {
      .mobile-mh-950p {
          min-height: 950px;
      }
  }

  @media (max-width: 900px) {
      .mobile-mh-1050p {
          min-height: 1050px;
      }
  

  @media (max-width: 900px) {
      .mobile-mh-1150p {
          min-height: 1150px;
      }
  }